<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fd.networ.libs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OkhttpGet" />
        <activity android:name=".UrlConnectionGet" />
        <activity android:name=".VolleyGet" />
        <activity android:name=".OkhttpPost" />
        <activity android:name=".UrlConnectionPost" />
        <activity android:name=".VolleyPost" />
        <activity android:name=".OkhttpPostJson" />
        <activity android:name=".UrlConnectionPostJson" />
        <activity android:name=".VolleyPostJson" />
    </application>

</manifest>